@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-101% - 305px));
  }
}

.animate-infinite-scroll {
  animation: scroll 100s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: -.03em;
    font-size: 3rem;
  }
}

  /* Card 1 */
  .feature-grid_card-1_visual:hover .feature-grid_card-1_card:not(.is-1){
    transform: translate(0) !important;
    filter: blur(0);
    opacity: 1;
    box-shadow: 0 0px 0px 0 hsla(0, 0.00%, 0.00%, 0);
  }

  /* Card 2 */
  @keyframes marqueeUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }

  @keyframes marqueeDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(50%);
    }
  }

  .feature-grid_card-2_visual > div:nth-child(odd) {
    animation: marqueeUp 30s linear infinite;
  }
  .feature-grid_card-2_visual > div:nth-child(even){
    animation: marqueeDown 30s linear infinite;
    align-self: flex-end;
  }
